{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="{% static 'cropperjs/dist/cropper.min.css' %}">

    
    
    <title>Document</title>
</head>
<body>
    <!-- css file  -->
    {% include 'snippets/base_css.html' %}
    <!-- javascript file  -->
    {% include 'snippets/base_js.html' %}
    <!-- header -->
    {% include 'snippets/header.html' %}
    
<!-- body -->

<!-- spinner -->
<div class="container" id = "id_loading_spinner" style="display: none;">
    <div class="d-flex flex-row mx-auto flow-grow">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<!-- main container -->
<div class="main">
    {% block content %}

    {% endblock content %}
</div>
<!-- footer here -->
{% include 'snippets/footer.html' %}
<!-- font awesome     -->
<script src="https://kit.fontawesome.com/45556d5dc4.js" crossorigin="anonymous"></script>



<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type = "module" src="{% static 'cropperjs/dist/cropper.min.js' %}"></script>  

<!-- spinner  -->
<script type="text/javascript">
    function displayLoadingSpinner(isDisplayed){
        if(isDisplayed){
            var spinner = document.getElementById("id_loading_spinner")
            spinner.style.display = "block"
        }
        else{
            spinner.style.display = "none"
        }
    }
</script>
</body>
</html>